body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(224, 77, 231);
  background: linear-gradient(
    90deg,
    rgba(224, 77, 231, 1) 0%,
    rgba(175, 221, 255, 1) 53%,
    rgba(65, 219, 255, 1) 100%
  );
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
